@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: blue;
  color: #fff;
}

.logo {
  font-size: 24px;
}

.menu-button {
  display: none;
  cursor: pointer;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  margin: 3px 0;
  background-color: #333;
  transition: 0.4s;
}

.menu-button.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-button.open .bar:nth-child(2) {
  opacity: 0;
}

.menu-button.open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 300px;
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 20px;
  margin: 15px 0;
  cursor: pointer;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}
